body {background-color:navy blue;}
h1{
  color:grey;
	font-family: Verdana;
	margin-top: 5px;
	padding:2px;
	
}
	
.box{
	background-color: white;
    color: black;
    width: 600px;
    padding: 30px;
    border-radius: 25px;
    margin: auto;
	margin-top: 40px;
}

		



	



